<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png" style="width:200px;">
            </a>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Odoo 15 POS Reports (Enterprise)</h2>
            <h3 class="oe_slogan">Allows user to Print POS Reports.</h3>
            <div>
                <div><font style="color:red;font-weight:bold;"><b>Note: </b>This module is tested and working in Odoo
                     Enterprise edition but not tested in Community version. And we are supporting Ubuntu OS and not
                    Windows OS.</font></div>
            <br/>
            <div class="oe_centeralign oe_websiteonly">
                <a href="https://apps.odoo.com/apps/modules/15.0/aspl_pos_report" target="new"
                   class="oe_button oe_big" style="background-color: #007a77;">Available for Community</a>
            </div>
            <br/>
                <h3>
                    Features
                </h3>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">X Report of opened sessions</li>
                    <li style="color:#30054D;font-weight:bold;">Z Report of closed sessions</li>
                    <li style="color:#30054D;font-weight:bold;">Product summary report</li>
                    <li style="color:#30054D;font-weight:bold;">Order summary report</li>
                    <li style="color:#30054D;font-weight:bold;">Payment summary report</li>
                    <li style="color:#30054D;font-weight:bold;">Session and Inventory audit report</li>
                    <li style="color:#30054D;font-weight:bold;">User wise sales summary report</li>
                    <li style="color:#30054D;font-weight:bold;">Employee Hourly Sale Excel report</li>
                    <li style="color:#30054D;font-weight:bold;">Customer POS orders and POS order return PDF report</li>
                </ul>
            </div>
            <br/>
            <div class="oe_centeralign oe_websiteonly">
                <a href="https://apps.odoo.com/apps/modules/15.0/aspl_pos_report/" target="new"
                   class="oe_button oe_big" style="background-color: #007a77;">Available for Community</a>
            </div>
            <br/>
            <h4 class="oe_slogan">How to use</h4>
            <div class="oe_screenshot" style="text-align: left;">
                <ul>
                    <li style="color:#30054D;font-weight:bold;">To print POS reports go to Point of sale > ASPL
                        Reports.
                    </li>
                </ul>
                <img style="max-width: 100%;" src="0_report_menu.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">To print X Report go to Point of sale > ASPL
                        Reports > X Report.
                    </li>
                </ul>
                <img style="max-width: 100%;" src="1_X_report_wizard.png"><br/><br/>
                <center><img style="max-width: 100%;" src="2_X_report_pdf.png"></center><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">To print Z Report go to Point of sale > ASPL
                        Reports > Z Report.
                    </li>
                </ul>
                <img style="max-width: 100%;" src="3_Z_report_wizard.png"><br/><br/>
                <center><img style="max-width: 100%;" src="4_Z_report_pdf.png"></center><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">To print User wise sales summary report go to Point of sale > ASPL
                        Reports > Sales Summary.
                    </li>
                </ul>
                <img style="max-width: 100%;" src="5_Sale_summery_wizard.png"><br/><br/>
                <center><img style="max-width: 100%;" src="6_sale_summery_pdf.png"></center><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">To print Employee Hourly Sale Excel report (without Detailed Report) go to Point of sale > ASPL Reports > Employee Hourly Sale Report .
                    </li>
                </ul>
                <img style="max-width: 100%;" src="7_hourly_sale_non_detail_Wizard.png"><br/><br/>
                <img style="max-width: 100%;" src="8_hourly_sale_non_detail_excel.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">To print Employee Hourly Sale Excel report (with Detailed Report) go to Point of sale > ASPL Reports > Employee Hourly Sale Report .
                    </li>
                </ul>
                <img style="max-width: 100%;" src="9_hourly_sale_detail_wizard.png"><br/><br/>
                <img style="max-width: 100%;" src="10_hourly_sale_detail_excel.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">To print Customer POS orders and POS order return PDF report go to Point of sale > ASPL Reports > Customer Sales Report .
                    </li>
                </ul>
                <img style="max-width: 100%;" src="11_custoemr_sale_report_wizard.png"><br/><br/>
                <center><img style="max-width: 100%;" src="12_customer_sale_report_pdf.png"></center><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">To print Product summary report, Order summary report, Payment summary report, Session and Inventory audit report you need to enable feature from POS Shop Configuretion.
                    </li>
                </ul>
                <img style="max-width: 100%;" src="28_pos_configuration.png"><br/><br/>
                <img style="max-width: 100%;" src="13_POS_summery_report_button.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">To print Session and Inventory audit report go to Point of sale Shop and click button Audit Report it can open one popup you can filter data and print report.
                    </li>
                </ul>
                <img style="max-width: 100%;" src="14_session_audit_report.png"><br/><br/>
                <img style="max-width: 100%;" src="15_location_audit_report.png"><br/><br/>
                <center><img style="max-width: 100%;" src="16_inventory_audit_report_pdf.png">
                <img style="max-width: 100%;" src="17_inventory_location_audit_pdf.png"></center><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">To print Order summary report go to Point of sale Shop and click button Order summary report it can open one popup you can filter data and print report.
                    </li>
                </ul>
                <img style="max-width: 100%;" src="18_order_summery_popup_with_date.png"><br/><br/>
                <img style="max-width: 100%;" src="19_order_summery_with_current_session.png"><br/><br/>
                <img style="max-width: 100%;" src="20_order_summery_receipt_with_session.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">To print Product summary report go to Point of sale Shop and click button Product summary report it can open one popup you can filter data and print report.
                    </li>
                </ul>
                <img style="max-width: 100%;" src="21_product_summery_with_date_popup.png"><br/><br/>
                <img style="max-width: 100%;" src="22_product_summery_with current_session_popup.png"><br/><br/>
                <img style="max-width: 100%;" src="23_product_summery_recipt_with_current_session.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">To print Payment summary report go to Point of sale Shop and click button Payment summary report it can open one popup you can filter data and print report.
                    </li>
                </ul>
                <img style="max-width: 100%;" src="24_payment_summery_with_date_popup.png"><br/><br/>
                <img style="max-width: 100%;" src="25_payment_summery_with_current_session.png"><br/><br/>
                <img style="max-width: 100%;" src="26_payment_summery_salepersion_receipt.png"><br/><br/>
                <img style="max-width: 100%;" src="27_payment_summery_with_method.png"><br/><br/>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <H3>
        <center>Release Notes</center>
    </H3>
</section>
<section class="oe_container" style="max-height: 350px;overflow: auto;">
    <div class="release_note_container">
        <div class="release_note_details" style="border-bottom: 1px solid #c4c4c4;padding-top: 5px;">
            <div class="release_note_header"
                 style="background: #c4c4c4;height: 47px;line-height: 20px;padding: 5px;border-radius: 3px;font-weight: bold;">
                <span>Release Update - Jan 17, 2022</span>
                <br/>
                <span>Version - 14.0.1.0</span>
            </div>
            <div class="release_note_body">
                <ul>
                    <li>Initial Release</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row" style="background-color:#1f567d; width:49%; float:left; height:160px; border-radius:10px">
        <div style="margin-bottom:10px" class="oe_slogan text-center">
            <div class="oe_span12" style="width:100%">
                <h3 class="text-center" style="color:#FFFFFF; font-size:18px; text-align:left !important"><b>NOTE:</b>
                    We give 60 days support for our customers. Before trying in your live db, please ask us to provide
                    you for test link. If any other custom modules are installed and because of that some errors occurs
                    then we charge extra.</h3>
            </div>
        </div>
    </div>
    <div class="oe_row" style="background-color:#1f567d; width:49%; float:right; height:160px; border-radius:10px">
        <div style="margin-bottom:10px" class="oe_slogan text-center">
            <div class="oe_span12" style="width:100%">
                <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query,
                    customization</h3>
            </div>
            <span style="padding:0 15px; float:left; width:100%">
                <a style="color:#FFFFFF; float:left; width:50%; font-weight:400; text-align:left"><b
                        style="color:yellow">Website:</b> https://acespritech.com/</a>
                <a style="color:#FFFFFF; float:left; width:50%; font-weight:400; text-align:left"><b
                        style="color:yellow">Blog:</b> https://acespritech.com/blog/ </a><br>
                <a href="mailto:info@acespritech.com"
                   style="color:#FFFFFF; font-weight:400; float:left; width:50%; text-align:left"><b
                        style="color:yellow">Email:</b> info@acespritech.com</a>
                <a style="color:#FFFFFF; font-weight:400; float:left; width:50%; text-align:left"><b
                        style="color:yellow">Skype: </b>acespritech</a><br>
            </span>
        </div>
    </div>
</section>
